<template class="task-template">
  <section id="windows-section" class="section js-section u-category-windows">
    <header class="section-header">
      <div class="section-wrapper">
        <h1>
          <svg class="section-icon"><use xlink:href="assets/img/icons.svg#icon-windows"></use></svg>
          Channel01
        </h1>
      </div>
    </header>
    <body ng-app="application" ng-controller="appController">
      <div id="body">
        <div class="form-group">
          <p><input id="queryAllTuna" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllTuna()"></p>
        </div>
        <table id="all_tuna" class="table" align="center">
  
          <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Option</th>
            <th>Premium</th>
            <th>User</th>
          </tr>
  
          <tr ng-repeat="tuna in all_tuna">
            <td>{{record.id}}</td>
            <td>{{record.timestamp}}</td>
            <td>{{record.option}}</td>
            <td>{{record.premium}}</td>
            <td>{{record.user}}</td>
          </tr>
        </table>
      </div>
    </body>
    <script type="text/javascript">
      require('./renderer-process/windows/create-window')
    </script>

  </section>
</template>
